In [5]:
# Import Packages and Import Raw Data
import pandas as pd

In [4]:

data_path = "metabolic_syndrome.csv"
df = pd.read_csv(data_path)
df

,seqn,age,sex,marital,income,race,waistcirc,bmi,albuminuria,uralbcr,uricacid,bloodglucose,hdl,triglycerides,metabolicsyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,No MetSyn
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,No MetSyn
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,No MetSyn
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,No MetSyn
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,No MetSyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,71901,48,Female,Married,1000.0,Other,NaN,59.7,0,22.11,5.8,152,57,107,No MetSyn
2397,71904,30,Female,Single,2000.0,Asian,NaN,18.0,0,2.90,7.9,91,90,91,No MetSyn
2398,71909,28,Male,Single,800.0,MexAmerican,100.8,29.4,0,2.78,6.2,99,47,84,No MetSyn
2399,71911,27,Male,Married,8200.0,MexAmerican,106.6,31.3,0,4.15,6.2,100,41,124,MetSyn
2400,71915,60,Male,Single,6200.0,White,106.6,27.5,0,12.82,5.2,91,36,226,MetSyn

In [23]:
import pandas as pd

def describe_data(df, group_col, output_filename):
    # Grouping the DataFrame by the specified column
    grouped = df.groupby(group_col)
    
    # Applying the statistical summary to each group
    description = grouped.describe().loc[:, (slice(None), ['mean', 'std', 'min', '25%', '50%', '75%', 'max'])]
    
    # Save the DataFrame to a CSV file
    description.to_csv(output_filename)

    return description


group_col = "metabolicsyndrome" 
output_filename = 'stratified_summary_data.csv'
description = describe_data(df, group_col, output_filename)
description

                           seqn                                          \
                           mean          std      min      25%      50%
metabolicsyndrome
MetSyn             67075.138686  2775.710621  62199.0  64745.5  67118.0
No MetSyn          67007.526916  2848.756780  62161.0  64479.5  67058.0

                                            age                   ...   hdl  \
                        75%      max       mean        std   min  ...   50%
metabolicsyndrome                                                 ...
MetSyn             69432.25  71915.0  54.766423  16.019520  20.0  ...  44.0
No MetSyn          69517.00  71909.0  45.529449  17.610585  20.0  ...  55.0

                               triglycerides                                  \
                    75%    max          mean         std   min    25%    50%
metabolicsyndrome
MetSyn             51.0   98.0    184.558394  129.071106  31.0  108.0  157.5
No MetSyn          65.0  156.0     98.747308   51.278781  26.0   66.0   89.0


                      75%     max
metabolicsyndrome
MetSyn             212.75  1562.0
No MetSyn          118.00   700.0

[2 rows x 77 columns]