In [5]:
# Import Packages and Import Raw Data
import pandas as pd

In [53]:

data_path = "metabolic_syndrome.csv"
df = pd.read_csv(data_path)
df

,seqn,age,sex,marital,income,race,waistcirc,bmi,albuminuria,uralbcr,uricacid,bloodglucose,hdl,triglycerides,metabolicsyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,No MetSyn
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,No MetSyn
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,No MetSyn
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,No MetSyn
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,No MetSyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,71901,48,Female,Married,1000.0,Other,NaN,59.7,0,22.11,5.8,152,57,107,No MetSyn
2397,71904,30,Female,Single,2000.0,Asian,NaN,18.0,0,2.90,7.9,91,90,91,No MetSyn
2398,71909,28,Male,Single,800.0,MexAmerican,100.8,29.4,0,2.78,6.2,99,47,84,No MetSyn
2399,71911,27,Male,Married,8200.0,MexAmerican,106.6,31.3,0,4.15,6.2,100,41,124,MetSyn
2400,71915,60,Male,Single,6200.0,White,106.6,27.5,0,12.82,5.2,91,36,226,MetSyn

In [52]:
# Summary Statistics and Group By Metabolic Syndrome Status
def describe_data(df, group_col, output_filename):
    df_modified = df.drop(columns=['seqn'])
    grouped = df_modified.groupby(group_col)
    description = grouped.describe().round(3)
    description = description.loc[:, (slice(None), ['mean', 'std', '25%', '50%', '75%'])]
    description.to_csv(output_filename)

    return description

group_col = "metabolicsyndrome" 
output_filename = 'stratified_summary_data_status.csv'
description_data_status = describe_data(df, group_col, output_filename)
description_data_status

                      age                              income            \
                     mean     std   25%   50%   75%      mean       std
metabolicsyndrome
MetSyn             54.766  16.020  43.0  56.0  68.0  3664.295  2777.561
No MetSyn          45.529  17.611  30.0  43.0  59.5  4184.502  3028.243

                                           ...     hdl                      \
                      25%     50%     75%  ...    mean     std   25%   50%
metabolicsyndrome                          ...
MetSyn             1600.0  2500.0  5400.0  ...  45.555  12.110  38.0  44.0
No MetSyn          1600.0  3500.0  8200.0  ...  57.438  15.035  47.0  55.0

                        triglycerides
                    75%          mean      std    25%    50%     75%
metabolicsyndrome
MetSyn             51.0       184.558  129.071  108.0  157.5  212.75
No MetSyn          65.0        98.747   51.279   66.0   89.0  118.00

[2 rows x 50 columns]

In [51]:
# Summary Statistics and Group By Sex
# Participants Selected for based on Age (20-80)
def describe_data(df, group_col, output_filename):
    df_modified = df.drop(columns=['seqn'])
    grouped = df_modified.groupby(group_col)
    description = grouped.describe().round(3)
    description = description.loc[:, (slice(None), ['mean', 'std', '25%', '50%', '75%'])]
    description.to_csv(output_filename)

    return description

group_col = "sex" 
output_filename = 'stratified_summary_data_sex.csv'
description_data_sex = describe_data(df, group_col, output_filename)
description_data_sex

           age                              income                            \
          mean     std   25%   50%   75%      mean       std     25%     50%
sex
Female  48.487  17.559  34.0  48.0  63.0  3916.825  2943.454  1600.0  2500.0
Male    48.900  17.713  34.0  48.0  63.0  4096.356  2963.439  1600.0  2500.0

                ...     hdl                           triglycerides           \
           75%  ...    mean     std   25%   50%   75%          mean      std
sex             ...
Female  6200.0  ...  58.153  15.283  48.0  56.0  66.0       116.009   81.829
Male    6200.0  ...  48.502  13.444  40.0  46.0  55.0       140.455  105.948


         25%    50%    75%
sex
Female  71.0   98.0  138.5
Male    78.0  111.5  164.0

[2 rows x 50 columns]

In [50]:
# Summary Statistics and Group By race
# Participants Selected for based on Age (20-80)
def describe_data(df, group_col, output_filename):
    df_modified = df.drop(columns=['seqn'])
    grouped = df_modified.groupby(group_col)
    description = grouped.describe().round(3)
    description = description.loc[:, (slice(None), ['mean', 'std', '25%', '50%', '75%'])]
    description.to_csv(output_filename)

    return description

group_col = "race" 
output_filename = 'stratified_summary_data_race.csv'
description_data_race = describe_data(df, group_col, output_filename)
description_data_race

                age                              income                    \
               mean     std   25%   50%   75%      mean       std     25%
race
Asian        45.198  16.870  30.0  44.0  59.0  4918.239  3153.214  2000.0
Black        48.595  17.070  33.0  50.0  62.0  3779.769  2922.552  1600.0
Hispanic     49.988  17.012  36.0  51.0  64.0  3391.453  2563.162  1125.0
MexAmerican  44.723  15.856  32.0  43.0  58.0  3316.599  2473.618  1600.0
Other        43.590  18.118  24.0  43.0  56.0  3412.069  2814.441  1600.0
White        51.108  18.382  35.0  49.0  68.0  4197.797  3026.454  1600.0

                             ...     hdl                            \
                50%     75%  ...    mean     std   25%   50%   75%
race                         ...
Asian        4500.0  9000.0  ...  54.401  14.480  44.0  52.0  63.0
Black        2500.0  6200.0  ...  56.584  16.864  45.0  54.0  65.0
Hispanic     2500.0  5400.0  ...  50.451  12.919  42.0  49.0  57.0
MexAmerican  2500.0  4500.0  ...  49.980  12.857  41.0  47.0  58.0
Other        2500.0  5400.0  ...  53.738  13.748  44.0  53.0  61.0
White        3500.0  8200.0  ...  52.794  15.285  42.0  51.0  61.0

            triglycerides
                     mean      std   25%    50%     75%
race
Asian             127.312   82.715  76.0  101.0  149.00
Black             100.808   64.787  61.0   84.0  117.25
Hispanic          134.899   87.058  81.0  112.0  163.00
MexAmerican       144.937  108.081  89.0  119.0  166.00
Other             112.639   67.183  66.0   89.0  145.00
White             139.062  110.388  80.0  113.0  161.00

[6 rows x 50 columns]

In [54]:
def describe_data(df, group_cols, output_filename):
    df_modified = df.drop(columns=['seqn'])
    grouped = df_modified.groupby(group_cols)
    description = grouped.describe().round(3)
    description = description.loc[:, (slice(None), ['mean', 'std', 'min', '25%', '50%', '75%', 'max'])]
    description.to_csv(output_filename)

    return description

group_cols = ["sex", "metabolicsyndrome"] 
output_filename = 'stratified_summary_data_sex_metabolic.csv'
description_data_sex_metabolic = describe_data(df, group_cols, output_filename)
description_data_sex_metabolic

                             age                                        \
                            mean     std   min   25%   50%   75%   max
sex    metabolicsyndrome
Female MetSyn             55.883  16.003  20.0  44.5  58.0  69.0  80.0
       No MetSyn          44.798  17.140  20.0  30.0  42.0  57.0  80.0
Male   MetSyn             53.692  15.981  20.0  41.5  55.0  66.0  80.0
       No MetSyn          46.296  18.070  20.0  30.0  44.0  61.0  80.0

                            income                   ...   hdl                \
                              mean       std    min  ...   50%    75%    max
sex    metabolicsyndrome                             ...
Female MetSyn             3206.718  2531.001  300.0  ...  47.0  53.00   93.0
       No MetSyn          4272.798  3070.116  300.0  ...  61.0  70.25  156.0
Male   MetSyn             4107.000  2932.721  300.0  ...  40.0  48.00   98.0
       No MetSyn          4090.483  2982.251  300.0  ...  49.0  58.00  150.0

                         triglycerides                                      \
                                  mean      std   min    25%    50%    75%
sex    metabolicsyndrome
Female MetSyn                  165.816  114.796  31.0  103.0  148.0  191.0
       No MetSyn                91.167   40.231  26.0   63.0   85.5  111.0
Male   MetSyn                  202.585  139.222  41.0  118.5  167.0  237.0
       No MetSyn               106.691   59.741  26.0   70.5   92.0  124.5


                             max
sex    metabolicsyndrome
Female MetSyn             1562.0
       No MetSyn           452.0
Male   MetSyn             1311.0
       No MetSyn           700.0

[4 rows x 70 columns]