In [1]:
# Import Packages and Import Raw Data
import pandas as pd

# Raw Data

In [2]:

data_path = "metabolic_syndrome.csv"
df = pd.read_csv(data_path)
df

,seqn,age,sex,marital,income,race,waistcirc,bmi,albuminuria,uralbcr,uricacid,bloodglucose,hdl,triglycerides,metabolicsyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,No MetSyn
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,No MetSyn
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,No MetSyn
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,No MetSyn
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,No MetSyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,71901,48,Female,Married,1000.0,Other,NaN,59.7,0,22.11,5.8,152,57,107,No MetSyn
2397,71904,30,Female,Single,2000.0,Asian,NaN,18.0,0,2.90,7.9,91,90,91,No MetSyn
2398,71909,28,Male,Single,800.0,MexAmerican,100.8,29.4,0,2.78,6.2,99,47,84,No MetSyn
2399,71911,27,Male,Married,8200.0,MexAmerican,106.6,31.3,0,4.15,6.2,100,41,124,MetSyn
2400,71915,60,Male,Single,6200.0,White,106.6,27.5,0,12.82,5.2,91,36,226,MetSyn

# Summary Statistics and Group By Metabolic Syndrome Status

In [3]:
# Summary Statistics and Group By Metabolic Syndrome Status
def describe_data(df, group_col, output_filename):
    df_modified = df.drop(columns=['seqn'])
    grouped = df_modified.groupby(group_col)
    description = grouped.describe().round(3)
    description = description.loc[:, (slice(None), ['mean', 'std'])]
    description.to_csv(output_filename)

    return description

group_col = "metabolicsyndrome" 
output_filename = 'stratified_summary_data_status.csv'
description_data_status = describe_data(df, group_col, output_filename)
description_data_status

                      age            income           waistcirc          \
                     mean     std      mean       std      mean     std
metabolicsyndrome
MetSyn             54.766  16.020  3664.295  2777.561   109.372  14.876
No MetSyn          45.529  17.611  4184.502  3028.243    92.401  13.671

                      bmi        albuminuria        uralbcr          uricacid  \
                     mean    std        mean    std    mean      std     mean
metabolicsyndrome
MetSyn             32.665  6.728       0.247  0.523  74.107  347.836    5.981
No MetSyn          26.624  5.603       0.106  0.350  27.759  194.339    5.233

                         bloodglucose             hdl         triglycerides  \
                     std         mean     std    mean     std          mean
metabolicsyndrome
MetSyn             1.526      125.725  45.752  45.555  12.110       184.558
No MetSyn          1.322       99.149  22.651  57.438  15.035        98.747


                       std
metabolicsyndrome
MetSyn             129.071
No MetSyn           51.279

# Summary Statistics and Group By Sex

In [4]:
# Summary Statistics and Group By Sex
# Participants Selected for based on Age (20-80)
def describe_data(df, group_col, output_filename):
    df_modified = df.drop(columns=['seqn'])
    grouped = df_modified.groupby(group_col)
    description = grouped.describe().round(3)
    description = description.loc[:, (slice(None), ['mean', 'std'])]
    description.to_csv(output_filename)

    return description

group_col = "sex" 
output_filename = 'stratified_summary_data_sex.csv'
description_data_sex = describe_data(df, group_col, output_filename)
description_data_sex

           age            income           waistcirc             bmi         \
          mean     std      mean       std      mean     std    mean    std
sex
Female  48.487  17.559  3916.825  2943.454    96.342  16.505  29.040  7.324
Male    48.900  17.713  4096.356  2963.439   100.287  15.756  28.359  5.898

       albuminuria        uralbcr          uricacid        bloodglucose  \
              mean    std    mean      std     mean    std         mean
sex
Female       0.146  0.404  40.749  246.621    4.909  1.350      105.144
Male         0.162  0.441  46.554  269.687    6.079  1.278      111.407

                   hdl         triglycerides
           std    mean     std          mean      std
sex
Female  32.584  58.153  15.283       116.009   81.829
Male    36.703  48.502  13.444       140.455  105.948

# Summary Statistics and Group By race

In [5]:
# Summary Statistics and Group By race
# Participants Selected for based on Age (20-80)
def describe_data(df, group_col, output_filename):
    df_modified = df.drop(columns=['seqn'])
    grouped = df_modified.groupby(group_col)
    description = grouped.describe().round(3)
    description = description.loc[:, (slice(None), ['mean', 'std'])]
    description.to_csv(output_filename)

    return description

group_col = "race" 
output_filename = 'stratified_summary_data_race.csv'
description_data_race = describe_data(df, group_col, output_filename)
description_data_race

                age            income           waistcirc             bmi  \
               mean     std      mean       std      mean     std    mean
race
Asian        45.198  16.870  4918.239  3153.214    87.335  13.014  24.352
Black        48.595  17.070  3779.769  2922.552   100.531  16.882  30.518
Hispanic     49.988  17.012  3391.453  2563.162    98.346  13.092  29.019
MexAmerican  44.723  15.856  3316.599  2473.618   100.764  14.853  30.056
Other        43.590  18.118  3412.069  2814.441    96.824  17.671  28.474
White        51.108  18.382  4197.797  3026.454   100.531  16.379  28.824

                   albuminuria        uralbcr          uricacid         \
               std        mean    std    mean      std     mean    std
race
Asian        4.660       0.117  0.372  29.329  146.432    5.433  1.415
Black        7.509       0.192  0.474  72.795  402.613    5.595  1.469
Hispanic     5.196       0.160  0.461  32.180  108.375    5.300  1.378
MexAmerican  5.873       0.194  0.478  63.093  303.567    5.221  1.338
Other        8.017       0.180  0.428  22.023   51.401    5.295  1.399
White        6.530       0.132  0.377  31.128  198.528    5.585  1.463

            bloodglucose             hdl         triglycerides
                    mean     std    mean     std          mean      std
race
Asian            104.699  26.399  54.401  14.480       127.312   82.715
Black            111.172  40.927  56.584  16.864       100.808   64.787
Hispanic         109.004  35.031  50.451  12.919       134.899   87.058
MexAmerican      113.316  41.771  49.980  12.857       144.937  108.081
Other            111.262  37.446  53.738  13.748       112.639   67.183
White            106.078  30.946  52.794  15.285       139.062  110.388

# Summary Statistics and Group By Sex and Metabolic Syndrome Status

In [6]:
def describe_data(df, group_cols, output_filename):
    df_modified = df.drop(columns=['seqn'])
    grouped = df_modified.groupby(group_cols)
    description = grouped.describe().round(3)
    description = description.loc[:, (slice(None), ['mean', 'std'])]
    description.to_csv(output_filename)

    return description

group_cols = ["sex", "metabolicsyndrome"] 
output_filename = 'stratified_summary_data_sex_metabolic.csv'
description_data_sex_metabolic = describe_data(df, group_cols, output_filename)
description_data_sex_metabolic

                             age            income           waistcirc  \
                            mean     std      mean       std      mean
sex    metabolicsyndrome
Female MetSyn             55.883  16.003  3206.718  2531.001   107.350
       No MetSyn          44.798  17.140  4272.798  3070.116    90.716
Male   MetSyn             53.692  15.981  4107.000  2932.721   111.296
       No MetSyn          46.296  18.070  4090.483  2982.251    94.151

                                     bmi        albuminuria        uralbcr  \
                             std    mean    std        mean    std    mean
sex    metabolicsyndrome
Female MetSyn             15.251  33.238  7.421       0.246  0.525  86.817
       No MetSyn          14.120  26.933  6.299       0.097  0.316  17.772
Male   MetSyn             14.266  32.115  5.946       0.248  0.523  61.881
       No MetSyn          12.968  26.300  4.748       0.115  0.383  38.224

                                  uricacid        bloodglucose          \
                              std     mean    std         mean     std
sex    metabolicsyndrome
Female MetSyn             416.236    5.542  1.511      124.814  44.120
       No MetSyn           57.467    4.593  1.139       95.333  18.239
Male   MetSyn             265.917    6.402  1.418      126.601  47.305
       No MetSyn          271.522    5.904  1.159      103.149  25.913

                             hdl         triglycerides
                            mean     std          mean      std
sex    metabolicsyndrome
Female MetSyn             48.861  12.149       165.816  114.796
       No MetSyn          62.787  14.563        91.167   40.231
Male   MetSyn             42.375  11.200       202.585  139.222
       No MetSyn          51.831  13.397       106.691   59.741